@model string
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}
<h5>创建角色</h5>
@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>名称</label>
        <input name="name" value="@Model" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">创建</button>
    @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-default" })
}
